<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html class='flow' lang='en' xml:lang='en' xmlns='http://www.w3.org/1999/xhtml'>
  <head>
    <title>Revelation Labs - {{ page.title }}</title>
    <link href="stylesheets/style.css" media="screen" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div id="logo"></div>
    <div id="sidebar-left">
      <div id="content">
        <div id="sidemenu-wrapper">
          <div id="sidemenu">
            <a class="rss-feed" href="/news/feed">RSS</a>
            <h3>Sections</h3>
            <ul class="menu">
              <li class="active-trail"><a href="#" class="active">All posts</a><!-- <div id="post-count-1" class="post-count">7</div> --></li>
              <li><a href="#">Development</a><!-- <div id="post-count-2" class="post-count">7</div> --></li>
              <li><a href="#">Design</a><!-- <div id="post-count-3" class="post-count">7</div> --></li>
              <li><a href="#">Discoveries</a><!-- <div id="post-count-4" class="post-count">7</div> --></li>
              <li><a href="#">Method &amp; Process</a><!-- <div id="post-count-4" class="post-count">7</div> --></li>
            </ul>
          </div><!-- /sidemenu -->
        </div>
        <!-->
        <div class="crew-list">
          <h3>Revelation Labs Crew</h3>
          <ul class="crew">
            <li><img src="images/avatar-dan.png" />
              <h4>Dan Herrera</h4>
              <span>CTO</span>
              <a href="http://whoahbot.com">http://whoahbot.com</a>
            </li>
            <li><img src="images/avatar-michael.png" />
              <h4>Michael Felix</h4>
              <span>Interaction Design Lead</span>
              <a href="http://objcts.com">http://objcts.com</a>
            </li>
            <li><img src="images/avatar-james.png" />
              <h4>James Pozdena</h4>
              <span>Agilist</span>
              <a href="http://jpoz.com">http://jpoz.com</a>
            </li>
            <li><img src="images/avatar-max.png" />
              <h4>Max Ogden</h4>
              <span>Agilist-in-training</span>
              <a href="http://maxogden.com">http://maxogden.com</a>
            </li>
          </ul>
        </div> /crew -->
      </div>
    </div>
    <div id="posts">
      {{ content }}
    </div>
    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try {
        var pageTracker = _gat._getTracker("UA-9554831-1");
        pageTracker._trackPageview();
      } catch(err) {}
    </script>
  </body>
</html>