<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html class='flow' lang='en' xml:lang='en' xmlns='http://www.w3.org/1999/xhtml'>
  <head>
    <title>Revelation Labs - {{ page.title }}</title>
    <link href="/stylesheets/style.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="http://labs.revelationglobal.com/atom.xml" rel="alternate" title="Revelation Labs" type="application/atom+xml" />
  </head>
  <body>
    <div id="logo"></div>
    <div id="sidebar-left">
      <div id="content">
        <div id="sidemenu-wrapper">
          <div id="sidemenu">
            <a class="rss-feed" href="/atom.xml">RSS</a>
            <h3>Sections</h3>
            <ul class="menu">
              <li class="active-trail"><a href="/" class="active">All posts</a><!-- <div id="post-count-1" class="post-count">7</div> --></li>
              <li><a href="#">Development</a><!-- <div id="post-count-2" class="post-count">7</div> --></li>
              <li><a href="#">Design</a><!-- <div id="post-count-3" class="post-count">7</div> --></li>
              <li><a href="#">Discoveries</a><!-- <div id="post-count-4" class="post-count">7</div> --></li>
              <li><a href="#">Method &amp; Process</a><!-- <div id="post-count-4" class="post-count">7</div> --></li>
            </ul>
          </ul>
        </div>
      </div>
    </div>
    <div id="posts">
      {{ content }}
    </div>
    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try {
        var pageTracker = _gat._getTracker("UA-9554831-1");
        pageTracker._trackPageview();
      } catch(err) {}
    </script>
  </body>
</html>
